<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation.ejs') %>

        <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis provident, deleniti voluptas
                    libero aliquam molestiae nobis aperiam itaque sed quia! Cupiditate ex, error hic doloribus voluptas
                    esse, culpa distinctio est atque delectus id asperiores facere earum magni officiis aspernatur quae
                    ullam! Nesciunt doloribus incidunt voluptates libero adipisci! Odit error illum dolore enim unde
                    repellat officiis minima eum, magnam reiciendis tempora autem incidunt ratione velit est dolorum
                    cupiditate quis ad natus magni blanditiis quos ducimus. Reiciendis voluptatem consectetur quibusdam
                    quasi! Nisi delectus consequuntur sapiente sequi hic autem. Mollitia explicabo dolores, inventore
                    laborum, eum tenetur qui consectetur enim facilis, fuga porro. Qui distinctio sunt sit perspiciatis
                    mollitia magni debitis laudantium harum, inventore ut, vel fuga, rerum neque. Eligendi asperiores
                    soluta at, porro corrupti cupiditate, impedit aspernatur officiis et rerum quo pariatur consequatur.
                    Quam quasi obcaecati iste voluptatum suscipit fugit adipisci, nostrum nemo laborum cumque omnis
                    architecto a dignissimos reprehenderit dolor magnam fuga voluptas ullam at error! Voluptatum soluta
                    illo error officiis reprehenderit, tempora eius aperiam molestias! Totam ullam harum asperiores
                    quasi obcaecati quos mollitia cupiditate repellat est numquam, consectetur excepturi saepe nostrum
                    cumque error facilis tempora illo autem quibusdam ex! Eveniet temporibus placeat tempore dolorum
                    enim fugit nihil cupiditate minima dignissimos. Voluptas itaque obcaecati consequuntur, consequatur
                    necessitatibus cupiditate ut ratione sunt voluptatibus officiis. Similique, dolore. Expedita est
                    ipsa asperiores inventore explicabo libero reiciendis vero soluta similique, aliquid impedit sint.
                    Doloremque laborum nisi animi dolorum sapiente expedita tempora nobis maiores similique eius sed
                    error quod eveniet, illum minima, eaque aliquid, nulla ducimus eos repellendus recusandae vitae
                    exercitationem. Aliquam quia eaque vero quod perferendis nemo ad quis molestias, reiciendis
                    similique molestiae minus aliquid adipisci voluptate maxime dolore ex a repudiandae laboriosam
                    nostrum deleniti voluptates commodi autem. Illo nobis reprehenderit fuga ea consequatur numquam
                    natus inventore quaerat possimus dignissimos sapiente, sequi enim. Facere, qui aliquam!</p>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>